
/* パソコン1024px〜 :lg
タブレット640〜1024px :sm
スマートフォン～640px

960px×550pxできれいになるように、とりあえず作る

レスポンシブは。360pxまできれいに見えるようにする。
PCは1920×1080で一番きれいに見えるように960pxか1200pxで作成が妥当か。（最大2560×1440～1280×720）
スマホは390×844が一番主流だが、何とも言えない。 */


/* @import url('https://cdnjs.cloudflare.com/ajax/libs/reset-css/5.0.1/reset.min.css'); */
/* 
body {
    height: 860px;
    width: 1720px;
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 1.0;
    color: #42445A;
    font-family: "Inter", sans-serif;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
h1 {
    font-size: 36px
}
h2 {
    font-size: 32px;
}
small {
    font-size: 24px;
}

#wrap {
    display: flex;
    width: 1720px;
}
#box_a {
    width: 396px;
    height: 860px;
} 

#box_b {
    width: 1234px;
    height: 860px;
    margin-left: 90px;
    overflow-y: auto;
}

a {
    color: #42445A;
}
#logo {
    width: 396px;
    height: 328px;
}
#box_a ul li {
    font-size: 40px;
    list-style: none;
}
.material-symbols-outlined1 {
    font-family: 'Material Icons';
    content: 'e8dc';
}
.material-symbols-outlined2 {
    font-family: 'Material Icons';
    content: 'f604';
}
.material-symbols-outlined3 {
    font-family: 'Material Icons';
    content: 'e94c';
}

#wrap2 {
    display: flex;
    width: 1234px;
}
#image {
    width: 284px;
    height: 284px;
}
#my_information {
    width: 794px;
    height: 307px;
}
#my_information ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
#my_information ul li span {
    margin-left: 5em;
} */
